<template name="lottery">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				{{#if current}}
					{{> current_lottery}}
				{{else}}
					{{> nolottery}}
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="current_lottery">
	<h1>Current Lottery ending on {{currentEndDate}}!</h1>
	<h4>Prize Pool: {{currentPool}}g</h4>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				{{#each currentUsers}}
					<li class="list-group-item">
						{{name}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
</template>

<template name="nolottery">
	Sorry, no lottery active!
</template>
