<template name="lottery">
	{{> jumbotron}}

	{{#if current}}
		{{> showLottery current}}
	{{else}}
		{{> nolottery}}
	{{/if}}
</template>

<template name="showLottery">
	<h1>Lottery ending on {{endDate}}!</h1>
	<h4>Prize Pool: {{pool}}g</h4>
	<div class="row">
		<div class="col-md-4">
			<ul class="list-group">
				{{#each users}}
					<li class="list-group-item">
						{{name}}
					</li>
				{{/each}}
			</ul>
		</div>
	</div>
	{{#if isAdmin currentUser}}
		<a href="" class="btn btn-primary">LoL!</a>
	{{/if}}
</template>

<template name="nolottery">
	<div>Sorry, no lottery active!</div>
</template>
